<!DOCTYPE html>
<html>
<head>
	<title>Fnordbedarf</title>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta charset="utf-8">
	
	<!-- Bootstrap -->
	<link rel="stylesheet" href="/css/bootstrap.min.css">
	<link rel="stylesheet" href="/css/bootstrap-theme.min.css">
	<link rel="stylesheet" href="/css/style.css">

	<link href='http://fonts.googleapis.com/css?family=Quattrocento:400,700' rel='stylesheet' type='text/css'>
</head>
<body>
	<nav class="navbar navbar-default navbar-static-top navbar-fixed-top" role="navigation">
	<div id="logowrapper">
		<img src="/img/logo.png"></a>
	</div>
		<div id="menuleft">
			<ul class="nav navbar-nav">
				 <li class="active"><a href="/">Hauptseite</a></li>
				 <li class="active"><a href="/angebot/">Angebot</a></li>
				 <li class="active"><a href="/preise/">Preise & Bestellung</a></li>
			</ul>
		</div>
	</nav>

	<div class="jumbotron">
	  <div class="container">
	    <h1>fnordbedarf</h1>
	  </div>
	</div>


	<div id="contentwrapper">
		<div id="content">
			<div class="row">
				<div class="col-md-8">
				{{content}}
				</div>
				<div class="col-md-4 noch-fragen">
					<h1 id="fragen">Alles klar?</h1>
					<p class="trenner">
						<small>Schreib uns</small>
						<span class="mail"><a href="mailto:hallo@fnordbedarf.de">hallo@fnordbedarf.de</a></span>
					</p>
					<p class="trenner">
						<small>Melde dich auf Twitter</small>
						<span class="twitter"><a href="https://twitter.com/fnordbedarf">@fnordbedarf</a></span>
					</p>
					<p class="trenner">
						<small>Oder rufe uns an</small>
						<span class="telefon"><a href="tel:027139490064">0271 - 39490064</a></span>
					</p>
				</div>
			</div>
		</div>
	</div>

	<script src="/js/bootstrap.min.js"></script>
	<script src="/js/jquery-1.10.2.min.js"></script>
	<script src="/js/scripts.js"></script>
</body>
</html>
